DATABASE_URL=jdbc:postgresql://localhost:5432/titlis
DATABASE_USER=titlis
DATABASE_PASSWORD=titlis
TITLIS_AUTH_ISSUER=https://trial-8891784.okta.com/oauth2/aus11ip021xOHyY1d698/.well-known/oauth-authorization-server
TITLIS_AUTH_AUDIENCE=api://titlis
TITLIS_AUTH_ACCESS_TOKEN_SECRET=change-me
TITLIS_AUTH_ACCESS_TOKEN_TTL_MINUTES=720
TITLIS_OKTA_ISSUER=https://trial-8891784.okta.com/oauth2/aus11ip021xOHyY1d698/.well-known/oauth-authorization-server
TITLIS_OKTA_AUDIENCE=api://titlis
TITLIS_OKTA_CLIENT_ID=0oa11iofh4uZXDHaK698
TITLIS_APP_ENV=local
